body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
textarea:focus, input:focus{
  outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color: white !important;
  transition: 100ms;
}

.nav-link:hover{
  text-decoration: underline;
}

main{
  min-height: 85vh;
}
h3{
  padding:0.8rem 0;
}
h1{
  padding:0.5rem 1rem;
}
.rating span{
  margin:1px;
}

.large-text{
  color: #0a0a0a;
  letter-spacing: 3px;
  font-size: 34px;
  font-weight: 400;
  padding-left: 1rem;
}

.margin1rem{
  margin: 2rem 2rem 2rem 0;
}
/* media query this styles */
.divide-into-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 6rem 0;
}


.half-radius-image{
  width: 30vw;
  border-radius: 40px 0 40px 0;
}

.star-number{
  font-size: 55px;
  color: #0a0a0a;
}

.star-small-number{
  font-size: 22px;
  color: #0a0a0a;
  font-weight: 400;
  align-self: center;
  padding-top: 1rem;
}

.flex{
  display: flex;
}

/* media query this styles */


.verify-btn{
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top:4rem ;
}

img{
  object-fit: cover;
  background-repeat:no-repeat ;
  background-size: cover;
}

/* Footer */

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#000000;
  margin:2rem;
  border-radius:20px;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
  color: white;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:1;
  /* font-size: 16px; */
  /* font-weight: 400; */

}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {

  .divide-into-2{
    display: flex;
    flex-direction: column;
  }

  .half-radius-image{
    width: 80vw;
  }

  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  margin-bottom:0;
  color: white;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  font-size:13px;
  margin-bottom:0;
}

/* Footer  */


/* Home */

.carousel-caption-title{
  color: white;
  font-size: xx-large;
}

.carousel-caption-para{
  color: white;
  font-weight: 400;
  font-size: medium;
}

.carousel-image{
  opacity: 0.9;
  height:90vh;
  width: 100vw;
  border-radius: 0 0 10px 10px;
}

/* Trending Rooms */
.trending-rooms-container{
  margin-top:10vh;
}

.home-page-title{
  font-weight: bold;
  text-transform: capitalize;
  font-family: 'Allison', cursive;  
  font-size: 60px;

}

.home-page-para{
  font-weight: 400;
  text-transform: capitalize;
  font-size: 20px;
  color: white;
  text-align: center;

}

.room-card-image{
  width: 100%;
  height: 30vh;
  border-radius: 10px;
}


.room-package-image{
  width: 100%;
  height: 50vh;
  border-radius: 10px;
  transition: 200ms ease-in-out; 
  filter: brightness(1);
}

/* .room-package-image:hover{
  filter:  brightness(1);
} */


.founder-card-image{
  width: 100%;
  border-radius: 10px 10px 0 0 ;

}

.room-card-container{
  box-shadow: 0 10px 45px rgb(10 10 10 / 7%);
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 2rem;
}

.flex-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width:768px) {
  .flex-wrap{
    grid-template-columns: 1fr ;
  }


  .home-facilities-section{
    display: flex !important;
    flex-direction: column;
  }

  .home-facility-image{
    width: 80vw !important;
  }

  .home-facility-texts-container{
    margin-top: 2rem !important;
  }

  .each-room-head{
    display: flex !important;
    justify-content: center;
    flex-direction: column;
  }
  .each-room-amaneties{
    justify-content: center;
  }

  .each-roomtitle{
    text-align: center;
    text-decoration: underline;
    padding-top: 2rem;
  }

  .each-amanity{
    margin:0 !important;
    margin-bottom: 2rem !important;
  }
    
}

.each-card-name{
  font-size: 24px;
  font-weight: 500;
  color: #0c0c0c;
  text-transform: capitalize;
  padding: 1rem;
  text-align: center;
}

.flex-center{
  display: flex;
  /* justify-content: center; */
}

.book-room-btn{
  margin: 1rem;
  margin-bottom: 2rem;
  margin-top: 0;
  background-color: white;
  color: black;
  border: none;
  font-size: 16px;
  transition: 100ms ease-in-out;
}

.founder-text{
  margin: 1rem;
  margin-bottom: 2rem;
  margin-top: 0;
  background-color: white;
  color: black;
  border: none;
  font-size: 16px;
  font-weight: 300;
  transition: 100ms ease-in-out;
  padding: 0;
}

.book-room-btn:hover{
  color: #ff4848;
  
}

.each-room-available{
  color: #848484;
  font-size: 16px;padding: 1rem;
  padding-top: 0;
}

.center-content{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.center-content1{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.sub-heading-text{
  color: #898989;
  font-size: 21px;
  padding: 1rem;
}

.more-room-btn{
  background: white;
  color: #1c1c1c;
  border: none;
  font-size: 60px;
  font-weight: 400;
  transition: 100ms ease-in-out;
  font-family: 'Allison', cursive;  
}

.more-room-btn:hover{
  color: #ff4848;
}

.icon{
  align-self: center;
  font-size: 20px;
  padding-left: 10px;
}

.social-icon{
  align-self: center;
  font-size: 20px;
  padding-left: 2px;
}

.each-facility-image{
  font-size: 64px;
  color: #656565;
}

.home-facilities-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 0 6rem 0;
}

.home-facility-image{
  width: 35vw;
  border-radius: 20px;
}

.each-facility-name{
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  margin: 1rem;
  color: #000000;
}

.contain-facility{
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
}


.each-facility{
  width: 250px;
  transition: 200ms ease-in-out;
  padding-top: 2rem;
  border-radius: 10px;
  margin: 1rem 0;
}
.each-facility:hover{
  box-shadow: 0 10px 45px rgb(10 10 10 / 7%);
}


.flex-justify-center{
  display: flex;
  justify-content: center;
}

.home-facility-texts-container{
  margin-left:2rem ;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-facility-text-para{
  color: #898989;
  font-size: 18px;

}
.home-facility-text-header{
  color: #000000;
  font-size: 30px;
  margin-bottom: 1rem;
  
}

/* other page styles */

.contain-each-board{
  background-image: url('/images/bg1.jpeg') ;
  height: 97vh;
  overflow: auto;
  width: 100vw;
  /* opacity: 0.95; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-size: cover ;
}

.contain-each-board-small{
  background-image: linear-gradient(0deg,rgba(0,0,0, 0.4), rgba(0,0,0,0.75)), url('/images/bg1.jpeg') ;
  height: 60vh;
  overflow: auto;
  width: 100vw;
  /* opacity: 0.95; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  background-size: cover ;
}

.banner-title{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.banner-btn{
  background-color: #0c0c0c;
  color: white;
  width: 10rem;
  border: none;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  align-self: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: 200ms;
}

.banner-btn:hover{
  background-color: #666666;
}

.banner-btn1{
  background-color: transparent;
  color: white;
  width: 10rem;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 1rem;
  align-self: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: 200ms;
  height: 100%;
  width: 14rem;
  margin-left: 1rem;
  height: 5rem;
}

.banner-btn2{
  background-color: transparent;
  color: #0c0c0c;
  width: 10rem;
  border: 2px solid #0c0c0c;
  border-radius: 4px;
  font-size: 1rem;
  align-self: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: 200ms;
  height: 100%;
  width: 14rem;
  height: 5rem;
}

.form-container{
  padding: 3rem 0;
}

.textarea{
  width: 100%;
  border: none;
  background: #f7f9f9;
  padding: 1rem;
}

.map-iframe{
  width: 95vw;
  height: 60vh;
  border: none;
  border-radius: 10px;
}
.map-container{
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.all-filter-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.date-container{
  background: white;
  padding: 1rem 3rem;
  border-radius: 10px;
  margin: 0 1rem;
  width: 14rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.date{
  border: none;
  display: block;
  
}

.each-filter-label{
  color: #8f8f8f;
  font-weight: 500;
  font-size: 16px;
}

.product-image{
  width: 100%;
}


/* Header media queey */

.contain-each-board1{
  background-image: url('/images/bg1.jpeg') ;
  height: 80vh;
  overflow: auto;
  width: 95vw;
  /* opacity: 0.95; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-size: cover ;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
@media only screen and (max-width: 1060px) {
  .date-container{
    margin-top:1rem ;
    height: 5.5rem;
  }

  .banner-btn1{
    margin-top:1rem ;
    height: 5rem;
    margin-left: 0;
  }
}

.each-room-head{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 2rem;
}

.each-room-banner{
  width: 100%;
  height: 50vh;
  border-radius: 20px;
}

.each-room-price-container{
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
}

.each-room-name{
  font-weight: bold;
  text-transform: capitalize;
  font-size: 34px;
}

.each-room-price{
  font-weight: 500;
  text-transform: capitalize;
  font-size: 22px;

}

.each-room-description{
  color: #656565;
  font-size: 18px;
  margin: auto 0
}

.each-amanity{
  display: flex;
  min-width: 245px;
  padding: 1.2rem 1rem;
  border: 1px solid #d3dae3;
  border-radius: 20px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.each-amanity:hover{
  border: none;
  box-shadow:0px 0px 20px rgb(0 0 0 / 10%) ;
}

.each-room-amaneties{
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.paytm-button{
  background:#00b1e5;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding: 8px;
}

.images-section-container{
  display: flex;
  gap: 1.5rem;
  overflow: auto;
}

.each-image-section{
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
  transition: 200ms ease-in-out;
}

.each-image-section:hover{
  transform: scale(1.1);
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
}